/** @format */
@import url(https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular);
body {
  margin: 0;
  font-family: "BMWTypeNext Pro Regular";
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #bbbb; */
  max-width: 1560px;
  padding: 0 6rem;
}
.menu-left,
.menu-right {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
}

.logo-2 {
  margin-left: 10px;
  display: none;
  width: 24px;
  align-items: center;
}

.logo {
  margin: 0 1.5rem 0 0;
  text-decoration: none;
  color: #666666;
  display: flex;
  align-items: center;
  width: 52px;
  aspect-ratio: 1;
}

@media only screen and (max-width: 650px) {
  .menu {
    display: none !important;
  }
  .logo {
    margin: 0;
    padding: 5px 0px;
    width: 32px;
  }
  nav {
    padding: 0px 10px;
  }

  .logo-2 {
    display: flex;
  }
  body {
    font-size: 10px;
  }
}

.menu,
menu.a[href] {
  padding: 0px 12px;
  text-decoration: none;
  color: #666666;
  height: 84px;
  display: flex;
  align-items: center;
}
.menu:hover {
  color: black;
  border-bottom: 4px solid #1c68d4;
  height: 74px;
  padding-top: 4px;
}

.menu-right img {
  width: 20px;
  aspect-ratio: 1;
}

.carousel {
  max-width: 1752px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.absolute {
  position: absolute;
  width: 100%;
  bottom: 10%;
  color: white;
}

.content {
  margin: 50px 0px;
  max-width: 1170px;
  padding: 0px 37px;
  text-align: left;
}
.content p {
  text-align: justify;
}

.card-list {
  max-width: 1100px;
  background-color: white;
  margin: 0 auto;
  color: black;
  text-align: left;
  letter-spacing: 1.2px;
  margin: 40px 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  justify-content: space-between;
}

.card img {
  max-width: 415px;
  width: 100%;
  min-width: 250px;
}

.card-content p {
  text-align: left;
}

.card-content {
  padding: 0px 20px;
}

.black {
  background-color: black;
  color: white;
  padding: 40px 0px;
}

.gap {
  gap: 10px;
}

.info-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info-header img {
  max-width: 585px;
  width: 100%;
  object-fit: fill;
}
.info-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  max-width: 585px;
  max-height: 324px;
}

.info-detail h4 {
  padding: 25px 25px;
}

.info-detail h4:nth-child(even) {
  text-align: right;
}
